@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html{
  font-size: 14px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, rgb(202, 219, 209), rgb(157, 214, 181), rgb(99, 190, 137), rgb(26, 207, 101));
}
